.main-panel {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 31px 31px;
  background-color: #fff;
  width: 100%;
  height: 90%;
  font-family: AvenirNext-Bold;
}

.header-block {
  display: flex;
  position: relative;
  max-height: 40px;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

.header-block .header-left-block h1 {
  font-size: 64px;
  margin: 0;
}

.main-panel .header-left-block .button-save {
  height: 75px;
  width: 75px;
  border-width: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #e3e3e3;
  font-family: AvenirNext-Bold;
}

.main-panel .header-right-block {
  flex-direction: column;
  margin-top: 16px;
}

.header-right-block-labels button {
  border-width: 0;
  border-radius: 50%;
  background-color: #000;
  width: 18px;
  height: 18px;
  margin-left: 13px;
}

.header-right-block-labels .dark-gray {
  background-color: #c5c5c5;
}

.header-right-block-labels .blue {
  background-color: #4d87ca;
}

.header-right-block-labels .black {
  background-color: #000;
}

.header-right-block-labels .gray {
  background-color: #e0e0e0;
}

.main-panel h2 {
  font-size: 80px;
  color: #e2e2e2;
  font-weight: 400;
  margin: 0;
}

.main-panel .sale-label {
  padding: 7px 20px;
  background: #ff5c5c;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-left: 30px;
}

.galery {
  display: flex;
  flex-direction: column;
}

.galery .main-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.galery .galery-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.galery .galery-items button {
  border: none;
  outline: none;
  background-color: inherit;
}

.galery .galery-items .more-images-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 120px;
  height: 30px;
  margin: auto 0;
  padding: 0 16px;
}

.galery .galery-items .more-images-icon .more-images-icon-line {
  width: 100%;
  height: 3px;
  background-color: #d8d8d8;
}

.galery .galery-items .more-images-text {
  color: #c0c0c0;
  font-size: 20px;
  font-family: AvenirNext-Reg;
  text-align: left;
  border: none;
  background-color: inherit;
}

.about-text {
  font-family: AvenirNext-Reg;
  font-size: 33px;
  font-weight: 800;
  color: #d8d8d8;
  line-height: 1.52;
}

.about-text .about-text-first {
  color: #6e6e6e;
}

.footer-buy-button {
  bottom: 0;
  width: 100%;
  height: 10%;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: AvenirNext-Bold;
  font-size: 32px;
  background-image: linear-gradient(to right, #4949aa, #27275d);
}
