.product-main-panel {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  font-family: AvenirNext-Bold;
  padding: 15px 31px 31px 31px;
}

.header-block {
  display: flex;
  position: relative;
  max-height: 40px;
  width: 100%;
  margin-right: 20px;
  justify-content: space-between;
  z-index: 10;
}

.header-block .header-left-block h1 {
  font-size: 64px;
  padding-bottom: 14px;
  margin: 0;
}

.product-main-panel .header-left-block .button-save {
  height: 75px;
  width: 75px;
  border-width: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #e3e3e3;
  font-family: AvenirNext-Bold;
  outline: none;
}

.product-main-panel .header-right-block {
  flex-direction: column;
  margin-top: 16px;
}

.header-right-block-labels button {
  border-width: 0;
  border-radius: 50%;
  background-color: #000;
  width: 18px;
  height: 18px;
  margin-left: 13px;
  margin-bottom: 20px;
  outline: none;
}

.header-right-block-labels .label-dark-gray {
  background-color: #c5c5c5;
}

.header-right-block-labels .label-blue {
  background-color: #4d87ca;
}

.header-right-block-labels .label-black {
  background-color: #000;
}

.header-right-block-labels .label-gray {
  background-color: #e0e0e0;
}

.product-main-panel h2 {
  font-size: 80px;
  color: #e2e2e2;
  font-weight: 400;
  margin: 0;
  text-align: right;
}

.product-main-panel .label-sale {
  padding: 7px 20px;
  background: #ff5c5c;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-left: 30px;
}

.product-main-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.product-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.product-carousel button {
  border: none;
  outline: none;
  background-color: inherit;
}

.product-carousel .product-carousel-item-separator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 120px;
  height: 30px;
  margin: auto 0;
  padding: 0 16px;
}

.product-carousel-item-separator .product-carousel-separator-part {
  width: 100%;
  height: 3px;
  background-color: #d8d8d8;
}

.product-carousel .product-carousel-item-more {
  font-size: 14px;
  font-weight: 500;
  color: #c0c0c0;
  font-family: AvenirMedium;
  text-align: left;
  border: none;
  background-color: inherit;
}

.product-description {
  font-family: Avenir;
  font-size: 33px;
  font-weight: 800;
  line-height: 1.52;
  color: #d8d8d8;
}

.product-description .product-description-first-letter {
  color: #6e6e6e;
}

.product-buy-button {
  background-image: linear-gradient(to right, #4949aa, #27275d);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 35px 0;
  font-size: 32px;
  color: #ffffff;
  font-family: AvenirNext-Bold;
  margin-top: 176px;
  text-transform: uppercase;
  border: none;
  outline: none;
}
