body {
  background-color: #000;
  width: 1439px;
  height: 100%;
  margin: auto 0;
  padding: 0;
  font-family: AvenirNext-Bold;
}

aside {
  height: 1024px;
  display: block;
}

section {
  height: 1024px;
  background-color: #fff;
}

.goods-panel {
  padding: 0 23px;
}

#filter-panel {
  display: table;
  height: 55px;
  margin: 11px 0 0 0;
  font-weight: bold;
  font-size: 24px;
}

#filter-panel .active {
  color: #4d42f8;
}

.filter-item {
  display: table-cell;
  vertical-align: middle;
}

.filter-item button {
  font-weight: bold;
}

.filter-image-wrapper {
  width: 55px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebeb;
}

.filter-image-wrapper img {}

.filter {
  max-height: 25px;
  max-width: 160px;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

#aside-container {
  padding: 0 15px;
  display: block;
}

#main-menu {
  margin: 148px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

#main-menu a {
  text-decoration: none;
  display: block;
  margin-bottom: 26px;
  color: #3c3c3c;
}

#main-menu .active {
  color: #fff;
  vertical-align: middle;
}

#sub-menu {
  font-family: AndaleMono;
}

.logo {
  display: block;
  width: 94px;
  height: 94px;
  margin: 31px auto;
  object-fit: contain;
}

.search-container {
  margin-bottom: 5px;
}

.grey-rectangle {
  height: 4px;
  opacity: 0.56;
  background-color: #373737;
}

.menu-arrow {
  width: 14px;
  padding-bottom: 4px;
}

#male-female-filter {
  padding-left: 36px;
}

#size-filter {
  padding-left: 72px;
}

button {
  border: none;
  background: none;
  color: #dedede;
}

.goods-table {}

.goods-row {
  height: 311px;
  background-color: #f4f4f4;
}

.goods-item {
  border: none;
  background: none;
}

.item-img {}

.item-price {}

.sale-mark {
  position: absolute;
  margin-right: 16px;
  margin-top: 16px;
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
}

@font-face {
  font-family: AvenirNextBold;
  src: url(../fonts/avenir-next-bold/avenir-next-bold.woff);
}

@@font-face {
  font-family: AndaleMono;
  src: url(../fonts/andale-mono/andale-mono.woff);
}
