@font-face {
  font-family: AvenirNextBold;
  src: url(../fonts/avenir-next-bold/avenir-next-bold.woff);
}

@@font-face {
  font-family: AndaleMono;
  src: url(../fonts/andale-mono/andale-mono.woff);
}

body {
  background-color: #000;
  font-family: AvenirNext-Bold;
  margin: 0;
  padding: 0;
}

#aside-container {
  padding: 0 15px;
  display: block;
}

.logo {
  display: block;
  width: 94px;
  height: 94px;
  margin: 31px auto;
  object-fit: contain;
}

.search-container {
  margin-bottom: 5px;
}

.grey-rectangle {
  height: 4px;
  opacity: 0.56;
  background-color: #373737;
}

.menu-arrow {
  width: 14px;
  padding-bottom: 4px;
}

#main-menu {
  margin: 148px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

#main-menu a {
  text-decoration: none;
  display: block;
  margin-bottom: 26px;
  color: #3c3c3c;
}

#main-menu .selected {
  color: #fff;
}

#sub-menu {
  font-family: AndaleMono;
}

.goods-panel {
  background-color: #fff;
}

.filter-panel {
  display: table;
  height: 55px;
  margin: 11px 0 0 0;
  font-weight: bold;
  font-size: 24px;
}

.filter-item {
  display: table-cell;
  vertical-align: middle;
}

.filter-item button {
  border: none;
  background: none;
  color: #dedede;
  font-weight: bold;
}

.filter-item button .selected {
  color: #fff;
}

.filter-item-head {
  padding-right: 16px;
  color: #4d42f8;
}

.filter-image-wrapper {
  width: 55px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebeb;
}
