.size-container button {
  font-family: AvenirNext-Bold;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  background: none;
  color: #dedede;
}

.size-container .size-container-head {
  font-family: AvenirNext-Bold;
  font-weight: bold;
  padding-right: 1.6rem;
  font-size: 2.4rem;
  color: #4d42f8;
}

.size-container .size-selected {
  color: #4d42f8;
}
