/* ListItem.js */

.product-main-panel {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  font-family: AvenirNext-Bold;
  padding: 15px 31px 31px 31px;
}

.product-main-panel h2 {
  font-size: 80px;
  color: #e2e2e2;
  font-weight: 400;
  margin: 0;
  text-align: right;
}

.product-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.product-carousel button {
  border: none;
  outline: none;
  background-color: inherit;
}

.product-description {
  font-family: AvenirNext-Reg;
  font-size: 33px;
  font-weight: 800;
  line-height: 1.52;
  color: #d8d8d8;
}

.product-description .product-description-first-word {
  color: #6e6e6e;
}

.product-buy-button {
  background-image: linear-gradient(to right, #4949aa, #27275d);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 35px 0;
  font-size: 32px;
  color: #ffffff;
  font-family: AvenirNext-Bold;
  margin-top: 176px;
  text-transform: uppercase;
  border: none;
  outline: none;
}
