.product-description {
  font-family: AvenirNext-Reg;
  font-size: 3.3rem;
  font-weight: 800;
  line-height: 1.52;
  color: #d8d8d8;
}

.product-description .product-description-first-word {
  color: #6e6e6e;
}
