/* Separator.js */

.product-carousel-item-separator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 120px;
  height: 30px;
  margin: auto 0;
  padding: 0 16px;
}

.product-carousel-separator-part {
  width: 100%;
  height: 3px;
  background-color: #d8d8d8;
}
