/* Menu.js */

#main-menu {
  margin: 14.8rem auto;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  display: block;
}

#main-menu div a {
  text-decoration: none;
  display: block;
  margin-bottom: 2.6rem;
  color: #3c3c3c;
}

#main-menu .main-menu-selected a {
  color: #fff;
}

#sub-menu {
  font-family: AndaleMono;
  padding-bottom: 5rem;
}

#sub-menu .sub-menu-selected a {
  color: #fff;
}

.menu-arrow {
  width: 1.4rem;
  padding-bottom: .4rem;
}
