/* Card.js */

.card-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background-color: #f4f4f4;
  color: #fff;
  padding: 6px 8.5px 9px 8.5px;
  box-sizing: border-box;
  margin: 0 8px 17px 8px;
}

.card-container .card-img {
  width: 100%;
  background-color:
}

.card-price {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: 23px 0 27px 0;
  justify-content: space-between;
  margin-top: 8px;
}

.card-price a {
  text-decoration: none;
}

.card-badge-sale .card-price {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
}

.card-badge-sale .card-price a {
  color: #fff;
}

.label-sale-wrapper {
  visibility: hidden;
  position: absolute;
  top: 17px;
  right: 17px;
  padding: 0;
}

.card-badge-sale .label-sale-wrapper {
  visibility: visible;
}
